---
import Quote from "../components/quote.astro";

const comments = [
	{
		text: "Je n'avais plus touché mon violon depuis l'adolescence, soit presque 30 ans. Je suis ravie d'avoir repris des cours grâce à l'enseignement de Madame Chappuis. Les leçons sont structurées de manière à remettre en place les indispensables bases techniques, mais surtout à( re)trouver rapidement le plaisir de jouer. C'est mon cas. La disponibilité de Madame Chappuis est très appréciable pour quelqu'un qui est actif professionnellement, notamment s'agissant de la durée et de la fréquence des leçons. Sa méthode d'enseignement s'adapte à mes qualités et mes défauts. J'apprécie particulièrement son état d'esprit positif, ses encouragements, sa passion. Son enseignement me permet de faire rapidement des progrès. En bref, que du plaisir.",
		author: "Jean-Baptiste"
	},
	{
		text: "Ayant été élève d’Evelyne pendant environ 15 ans, elle m’a fait voyager à travers les différentes époques et styles musicaux en me faisant jouer du violon en solo, en duo ou en organisant de la musique de chambre avec les autres élèves de sa classe. En plus de ses compétences musicales de violoniste, Evelyne m’a également appris à être persévérante, organisée et régulière grâce au violon dans mon apprentissage de manière générale. C’est une enseignante passionnée, appliquée et très engagée dans son travail avec les jeunes. Grâce à toutes ses techniques et ses conseils adaptés à chacun de ses élèves, elle les encourage et motive toujours à atteindre des objectifs précis. De plus, Evelyne met en place régulièrement des cours collectifs avec ses élèves afin qu’ils puissent apprendre et profiter les uns des autres. Enfin, l’enseignement d’Evelyne est varié afin que tous ses élèves puissent apprendre le violon au mieux et dans les meilleures conditions.",
		author: "Eva Nowak"
	},
	{
		text: "Evelyne Chappuis offre un enseignement du violon soigneux et motivant, en mettant un point d’honneur sur la maîtrise de l’instrument et l’expressivité musicale. Etant son élève depuis plus d’une dizaine d’années, j’apprécie particulièrement son professionnalisme, sa pédagogie, et son engagement auprès des élèves. Sa méthode d’enseignement, qui s’adapte à l’élève, permet de progresser en y trouvant beaucoup de plaisir !",
		author: "Klara Bourban"
	},
	{
		text: "Mme Evelyne est très sympa, très gentille, très patiente avec les enfants. En cas de difficulté, elle s'investit beaucoup pour rendre les choses plus faciles. Elle sait motiver et encourager ses élèves.  Ma fille suit des leçons de violon avec elle, elle en est très contente. Chaque jour elle répète les leçons à la maison et elle se sent vraiment très motivée à continuer avec Evelyne.",
		author: "Shada Barjo, maman de Marina"
	},
	{
		text: "L’enthousiasme et l’investissement de Mme Chappuis dans les cours de violon adressés à notre fille sont réels et portent leurs fruits. Les cours de musique de chambre sont aussi un avantage que l’on apprécie bien, car la musique qui se partage est plus enrichissante pour les élèves et les parents qui écoutent.  Notre fille a un plaisir palpable à jouer ses partitions. Bien sûr il faut travailler, et le goût du travail à fond est aussi un atout dans l’enseignement de Mme Chappuis. Nous recommandons cette professeure passionnée, qui sait largement encourager et féliciter notre fille.",
		author: "Mme Fillatre, maman de Esther"
	},
	{
		text: "Évelyne est très sympathique et compétente. Elle transmet habilement les bases du violon j'ai été étonné des progrès que j'ai fait en peu de temps. Evelyne est très enthousiaste et encourageante. A chaque leçon, elle souligne ce que je fais bien et ce qui fonctionne bien.Elle donne inlassablement des feedback positifs et les notes pour que je puisse les revoir à la maison. Dans son enseignement, Évelyne attache beaucoup d'importance à la création de bases solides et à la transmission de son plaisir à jouer du violon.",
		author: "Patrick"
	},
	{
		text: "Evelyne a deux casquettes. Celle d’artiste et celle de professeur, elles sont de la même couleur, celle de la passion et du partage.Un partage de haute qualité. Évelyne donne beaucoup dans ses cours. Elle nous fait avancer pas à pas, consolide les acquis, nous encourage. Elle est aussi contente que nous, quand elle sent que nous avons intégré ses apprentissages. C'est très encourageant.  Elle est exigeante afin de ne pas brûler les étapes. Elle a à cœur de nous donner les bases essentielles pour progresser par la suite avec plus de plaisir. J'ai beaucoup apprécié son accompagnement pour m'aider à ajuster mes gestes et mon tonus, étapes essentielles pour essayer de trouver un joli son qui nous motivera pour apprendre de nouveaux morceaux. Suivre ses cours est une garantie de progression bien intégrée qui nous suivra toujours.",
		author: "Jean-Marc"
	},
	{
		text: "Evelyne a une dynamique d'enseignement très positive et très engagée envers les élèves . Ce qui est très remarquable.  J'ai appris énormément de choses en très peu de temps, car elle est très efficace. Sa manière d'enseigner est très simple à suivre. C'était une expérience très enrichissante.",
		author: "Iris"
	}
];
---

<html class="scroll-smooth focus:scroll-auto" lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>Ecole de violon Evelyne Chappuis</title>

		<!-- SEO Meta Tags -->
		<meta name="description" content="Ecole de violon Evelyne Chappuis - Cours de violon à Posieux et Payerne. Professeur diplômée avec plus de 20 ans d'expérience. Que vous soyez débutant ou avancé, venez apprendre le violon dans une ambiance chaleureuse et professionnelle." />
		<meta name="keywords" content="cours de violon, professeur de violon, Posieux, Payerne, musique classique, apprentissage du violon, école de violon, Evelyne Chappuis, leçons de violon" />
		<meta name="author" content="Evelyne Chappuis" />
		<link rel="canonical" href="https://violoniste.ch" />

		<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Ecole de violon Evelyne Chappuis" />
		<meta property="og:description" content="Professeur diplômée de la Haute Ecole de Musique de Fribourg avec +20 ans d'expérience. Cours de violon à Posieux et Payerne." />
		<meta property="og:image" content="https://violoniste.ch/images/violonpiano.jpg" />
		<meta property="og:url" content="https://violoniste.ch" />
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="Ecole de violon Evelyne Chappuis" />
		<meta property="og:locale" content="fr_FR" />

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Ecole de violon Evelyne Chappuis" />
		<meta name="twitter:description" content="Cours de violon à Posieux et Payerne. Professeur diplômée avec +20 ans d'expérience. Rejoignez-nous pour apprendre à jouer du violon avec passion et méthode." />
		<meta name="twitter:image" content="https://violoniste.ch/images/violonpiano.jpg" />
		<meta name="twitter:site" content="@violoniste_ch" />
		<meta name="twitter:creator" content="@violoniste_ch" />

		<!-- Stylesheet -->
		<link rel="stylesheet" href="https://use.typekit.net/jym6pfb.css">
	</head>
	<body class="min-h-screen flex flex-col bg-black">
		<header class="bg-black">
			<div class="container mx-auto p-4">
				<div class="flex h-36 md:h-48 items-center relative">
					<div class="hidden sm:block absolute">
						<div class="w-36 h-36 md:w-48 md:h-48 overflow-hidden rounded-full">
							<img class="w-full h-full object-cover object-top" src="/images/evelyne.jpg" alt="">
						</div>
					</div>
					<h1 class="text-5xl lg:text-7xl font-normal font-cursive text-primary w-full text-center">Ecole de violon <br><span class="text-white text-3xl lg:text-5xl">Evelyne Chappuis</span></h1>
				</div>
				<p class="mt-4 text-2xl text-white w-full text-center">Professeur diplômée de la Haute Ecole de Musique de Fribourg avec +20 ans d'expérience</p>
				<p class="mt-4 text-white w-full text-center">Cours de violon à Posieux (entre Fribourg et Bulle) et Payerne</p>

				<!-- Boutons en colonne -->
				<div class="w-full flex flex-col items-center space-y-4 mt-8">
					<a id="contact-email-link" class="block p-4 bg-primary hover:bg-primary-500 border-2 border-primary hover:border-primary-500 rounded-lg w-full max-w-xs text-center flex items-center justify-center" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-6 h-6" fill="currentColor" viewBox="0 0 16 16">
							<path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2zm3.708 6.208L1 11.105V5.383zM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2z"/>
							<path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648m-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
						</svg>
						Contact par Email
					</a>
					<a id="contact-whatsapp-link" class="block p-4 bg-primary hover:bg-primary-500 border-2 border-primary hover:border-primary-500 rounded-lg w-full max-w-xs text-center flex items-center justify-center" href="#">
						<svg xmlns="http://www.w3.org/2000/svg" class="mr-2 w-6 h-6" fill="currentColor" viewBox="0 0 16 16">
							<path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
						</svg>
						Contact par WhatsApp
					</a>
					<a class="block p-4 text-primary hover:text-primary-500 border-2 border-primary hover:border-primary-500 rounded-lg w-full max-w-xs text-center" href="#qu-en-pensent-mes-eleves">Que disent mes élèves ?</a>
				</div>
			</div>
		</header>

		<section class="relative bg-black">
			<div class="absolute inset-0 bg-gradient-to-r from-black to-40% to-transparent"></div>
			<div class="absolute inset-0 bg-gradient-to-l from-black to-40% to-transparent"></div>
			<div class="absolute inset-0 bg-gradient-to-b from-black to-40% to-transparent"></div>
			<div class="absolute inset-0 bg-gradient-to-t from-black to-20% to-transparent"></div>

			<div class="container mx-auto max-h-[50svp] overflow-hidden">
				<img class="w-full h-full object-cover object-center" src="/images/violonpiano.jpg" alt="Photo de mon violon sur un piano">
			</div>
		</section>

		<section class="bg-primary py-12">
			<div class="container mx-auto p-4 flex flex-col space-y-4">
				<h2 id="qu-en-pensent-mes-eleves" class="w-full text-center text-6xl font-cursive mb-8">Qu'en pensent mes élèves ?</h2>

				{comments.map((comment) => (
					<Quote text={comment.text} author={comment.author} />
				))}
			</div>
		</section>

		<footer class="bg-slate-950 text-white">
			<div class="container mx-auto p-4 text-center">
				<h2 class="text-primary font-cursive text-2xl mb-4">Evelyne Chappuis</h2>
				<p>Route de Fribourg 66</p>
				<p>CH-1725 Posieux</p>
				<p>
					<span id="phone">Tél: <a class="text-primary hover:underline-offset-2 hover:underline" id="footer-whatsapp-link" href="#">[Numéro WhatsApp]</a></span>
				</p>
				<p>
					<span id="email">Email: <a class="text-primary hover:underline-offset-2 hover:underline" id="footer-email-link" href="#">[Adresse Email]</a></span>
				</p>
				<div class="container mx-auto mt-8 p-4 text-center">
					&copy 2024 - Evelyne Chappuis
				</div>
			</div>
		</footer>

		<!-- JavaScript to handle contact link redirection and obfuscation -->
		<script>
			// Fonction pour reconstruire les informations de contact en utilisant des entités HTML
			function decodeEmail() {
				const email = "&#101;&#118;&#101;&#108;&#121;&#110;&#101;" + "&#64;" + "&#118;&#105;&#111;&#108;&#111;&#110;&#105;&#115;&#116;&#101;&#46;&#99;&#104;";
				return email.replace(/&#(\d+);/g, (_, dec) => String.fromCharCode(dec));
			}

			function decodeWhatsApp() {
				// Numéro WhatsApp obfusqué par segments
				const whatsappSegments = ["&#43;", "4", "1", "7", "6", "3", "4", "2", "4", "0", "3", "5"];
				const whatsapp = whatsappSegments.map(segment => segment.replace(/&#(\d+);/g, (_, dec) => String.fromCharCode(dec))).join('');
				return "https://wa.me/" + whatsapp.replace(/\+/g, "");
			}

			// Modifier les liens de contact
			document.addEventListener('DOMContentLoaded', () => {
				const contactEmailLink = document.getElementById('contact-email-link');
				const contactWhatsAppLink = document.getElementById('contact-whatsapp-link');
				const footerEmailLink = document.getElementById('footer-email-link');
				const footerWhatsAppLink = document.getElementById('footer-whatsapp-link');

				// Reconstituer les adresses email et WhatsApp
				const email = decodeEmail();
				const whatsappLink = decodeWhatsApp();

				// Mettre à jour les liens dans le footer et le header
				contactEmailLink.href = "mailto:" + email;
				contactWhatsAppLink.href = whatsappLink;
				footerEmailLink.href = "mailto:" + email;
				footerWhatsAppLink.href = whatsappLink;

				// Mettre à jour le texte affiché
				footerEmailLink.innerHTML = email;
				footerWhatsAppLink.innerHTML = whatsappLink.replace("https://wa.me/", "+41 ");
			});
		</script>
	</body>
</html>